body{padding:0px;margin:0px;}
body{font-family:\5B8B\4F53,Arial Narrow,arial,serif;font-size:10pt;background-color:#f6f6f6;}
ul,li{padding:0px;margin:0px;list-style-type: none;}
body, form {
	margin:0;
}
table {
	border-collapse:collapse;
}
input {
	border:1px solid #c5c6c9;
	background:url(../images/input_bg1.jpg);
	font-family:arial, helvetica, sans-serif;
	font-size:12px;
}
textarea {
	border:1px solid #c5c6c9;
}
.inputnoborder {
	border:0px none;
	background:none;
}
a {
	color:#444444;
	text-decoration:none;
}
a:hover, a:active {
	color:#ec0000;
}
.agray {
	color:#999999;
}
.awhite {
	color:#ffffff;
}
.an2 {
	background:url(../images/new_arr.gif) no-repeat left 5px;
	padding-left:15px;
}
.an2:hover, .an2:active {
	background:url(../images/new_arr_a.gif) no-repeat left 5px;
}




#header{width:988px;height:70px;margin:0 auto;background:url('../images/header_bg.gif') repeat-y 0 0px;}

/*导航菜单*/
#topmenu{width:1126px;margin:0 auto;}

#navMenu {width:1126px;height:48px;display:block;overflow:hidden;background:url('../images/nav_bg.gif') 10px 10px repeat-x;}
#navMenu ul{padding-left:73px;height:48px;background:url('../images/nav_left.gif') no-repeat top left;}

#navMenu li {text-align:center;float: left;	height:48px;}

#navMenu li a {width:85px;color:#fff;display: block;text-decoration:none;padding:22px 10px 16px;}
#navMenu li a:hover, #navMenu li.hover a {border:none;text-decoration:none;color:#fff;background:url('../images/nav_hover.gif') 10px 10px repeat-x;padding:22px 10px 16px;}
#navMenu li.right{width:73px;height:48px;background:url('../images/nav_right.gif') no-repeat top right; float:right;}
#navMenu li.line{width:2px;height:48px;background:url('../images/nav_line.gif') no-repeat 0px 10px ; }
/*-------- 下拉菜单 --------------*/
.dropMenu {	position:absolute;top: 0;z-index:100;width: 130px;visibility: hidden; margin: -7px 0 0 -1px;border: 1px solid #aec1df;border-top: 0px ;background-color: #fff;	padding-top:6px;padding-bottom:6px;}

.dropMenu li {margin-top:2px;margin-bottom:4px;padding-left:12px;}
.dropMenu li a{width: 100px;display: block;background:url('../images/subdot1.gif') no-repeat left 10px;text-align:left;text-decoration:none;color: #333;padding: 4px 0 4px 8px;}
.dropMenu+li a{border-top:none;}
* html .dropMenu a {width: 100%;color:#333;}
.dropMenu a:hover {text-decoration: underline;color:#2d6bac;background:url('../images/subdot.gif') no-repeat left 10px;}
#menu {
	margin:auto;
	width:1003px;
	height:118px;
	position:relative;
}
#banner {
	/*margin-top:-39px; 去掉顶部的导航的浮动偏出问题 */
}
.scroll {
	scrollbar-face-color:#666666;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-shadow-color:#ffffff;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#ffffff;
}
#prolistdiv, #linkdiv {
	position:absolute;
	text-align:left;
	width:212px;
	overflow-y:auto;
	overflow-x:hidden;
	height:192px;
	margin:0px;
	margin-top:-1px;
	background-color:#ffffff;
	border:1px solid #c5c6c9;
	padding:6px;
	padding-left:10px;
}
#prolistdiv a, #linkdiv a {
	display:block;
	height:23px;
	line-height:22px;
	margin-top:1px;
	background:url(../images/arr2.gif) no-repeat 3px center;
	padding-left:11px;
	white-space:nowrap;
	width:100%;
}
#prolistdiv a:hover, #linkdiv a:hover, #prolistdiv a:active, #linkdiv a:active {
	background:none;
	background-color:#ec0000;
	color:#ffffff;
}
.leftbg {
	border:1px solid #c5c6c9;
	border-top:0px none;
	width:172px;
	padding:8px;
	background-color:#ffffff;
}
#nav, .leftborder {
	border:1px solid #c5c6c9;
	border-top:0px none;
	width:172px;
	padding:8px;
	background-color:#ffffff;
}
#nav a {
	display:block;
	height:25px;
	line-height:25px;
	width:146px;
	letter-spacing:2px;
	background:url(../images/arr4.gif) no-repeat 8px center;
	padding-left:26px;
	margin-top:1px;
}
#nav a:hover, #nav a:active {
	background:url(../images/arr4_a.gif) no-repeat 8px center;
	background-color:#cc0000;
	color:#ffffff;
	width:142px;
	padding-left:28px;
	font-weight:bold;
}
.nava {
	background:url(../images/arr4_a.gif) no-repeat 8px center !important;
	background-color:#cc0000 !important;
	color:#ffffff !important;
	width:142px !important;
	padding-left:28px !important;
	font-weight:bold !important;
}
.btn_nor {
	width:88px;
	height:19px;
	line-height:19px;
	color:#ffffff;
	background:url(../images/btn1_bg.gif) no-repeat;
	text-align:center;
	border:0px none;
}
.ChildSort {
	float:right;
}
.SiteLink a {
	text-decoration: underline;
}
.SiteLink a:hover, #SiteLink a:active {
	text-decoration: underline;
}
.SortFolderOpen {
	PADDING-LEFT: 16px; LEFT: 16px; BACKGROUND-IMAGE: url(../images/Sort_Folder_Close.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.SortFolderClose {
	PADDING-LEFT: 16px; LEFT: 16px; BACKGROUND-IMAGE: url(../images/Sort_Folder_Open.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.SortEndFolderOpen {
	PADDING-LEFT: 16px; LEFT: 16px; BACKGROUND-IMAGE: url(../images/SortEnd_Folder_Close.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.SortEndFolderClose {
	PADDING-LEFT: 16px; LEFT: 16px; BACKGROUND-IMAGE: url(../images/SortEnd_Folder_Open.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.SortListline {
	PADDING-LEFT: 16px; BACKGROUND-IMAGE: url(../images/Sort_Listline.gif); BACKGROUND-REPEAT: repeat-y
}
.SortEndListline {
	PADDING-LEFT: 16px
}
.SortFile {
	PADDING-LEFT: 16px; BACKGROUND-IMAGE: url(../images/Sort_File.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.SortFileEnd {
	PADDING-LEFT: 16px; BACKGROUND-IMAGE: url(../images/Sort_File_End.gif); CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}

.links a{
	width:88px;
	height:31px;
	display:inline-block;
	border:1px solid #ccc;
	padding:3px;
	background-color:#fff;
}